<div class="row align-items-center justify-content-around mx-3">
  <!-- About me -->
  <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center mt-5">
    <div class="my-picture">
      <img src="https://res.cloudinary.com/diyvlobep/image/upload/c_scale,q_100,w_377/v1631964015/IMG_6052_nferlr.jpg" alt="picture of Aidan Fournier" style="width:100%;">
    </div>
  </div>
  <div class="about-me col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center align-items-start .ml-auto mt-5 px-3">
    <h1 class="title-underline">About me</h1>
    <p>Hi, I'm Aidan! For the past 4 years, I have been an elementary and middle school teacher. I've loved the experience of helping people grow and learn, but I also know that teaching children is not my passion. Luckily for me, I've found that passion elsewhere - in coding.</p>
    <p>Earlier this year, I took the jump from coding as a side hobby, to immersing myself in a part-time coding bootcamp in Tokyo. It was a crazy and exciting 6 months, and it solidified in my mind that this is where I want to take my career.</p>
    <p>When I'm not in the classroom or on my computer, I enjoy making friends with the street cats in my neighbourhood. I also like video games such as Pokemon and Animal Crossing. </p>
    <p>I'm currently looking for my first role in tech. And also a buddy for my next project! Do either of these interest you? Feel free to check out my skills and reach out on any platform:</p>
    <div class="contact-icons mx-1 d-flex align-items-center">
      <a href="https://www.linkedin.com/in/aidanfournier/" target="_blank">
        <i class="fab fa-linkedin mr-3 career"></i>
      </a>
      <a href="https://github.com/AidanFournier" target="_blank">
        <i class="fab fa-github-square mr-3 career"></i>
      </a>
      <div class="resume-hover d-flex">
        <a href="./assets/Resources/Aidan-Fournier-Resume.pdf" target="_blank" class="button-resume">Resume</a>
      </div>
    </div>
  </div>
</div>

<div class="divider row align-items-center justify-content-around"></div>
