<div class="footer mt-4 d-flex justify-content-center align-items-center">
  <h4>Check me out on:</h4>
    <a href="https://www.twitter.com/aidoufou/" target="_blank">
      <i class="fab fa-twitter-square ml-4 mr-2 border-right border-white pr-3 py-2"></i>
    </a>
    <a href="https://www.instagram.com/aidoufou/" target="_blank">
      <i class="fab fa-instagram-square ml-2"></i>
    </a>
</div>
