<div class="landing-page">
  <div class="background">
    <header>
      <h1>Aidan Fournier</h1>
      <div class="underline animate__animated animate__slideInLeft"></div>
      <h3>Fullstack Web Developer</h3>
    </header>
  </div>
  <div class="chevron animate__animated animate__big-pulse">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
