// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6d737f;
$light-gray: #A9AEB8;
$light-purple: #c2c2fd;
$light-blue: #bbd4f9;
