.arrow {
  position: relative;
  bottom: 52px;
  font-size: 50px;
  color: white;
  z-index: 3;
}

a {
  text-decoration: none;
}

.button-resume {
  font-size: 20px;
  padding: 5px 35px;
  border: 1px solid $gray;
}

.resume-hover {
  :hover {
    background-color: $gray;
    color: white;
  }
}

.site-button {
  // font-size: 12px;
  padding: 5px 20px;
  color: $light-gray;
  border: 1px solid $light-gray;
}

.github-button {
  // font-size: 12px;
  padding: 5px 20px;
  color: $light-gray;
  border: 1px solid $light-gray;
}

.button-square-site {
  :hover {
    text-decoration: none;
    color: $gray;
    background-color: $light-blue;
  }
}

.button-square-github {
  :hover {
    text-decoration: none;
    color: $gray;
    background-color: $light-purple;
  }
}

.contact-icons {
  font-size: 44px;
  a {
    text-decoration: none;
    color: $gray;
    :hover {
      color: $light-blue;
    }
  }
}

.footer {
  i {
    font-size: 40px;
    color: $gray;
  }
  a {
    :hover {
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-button {
    font-size: 12px;
    padding: 5px 15px;
  }
  .github-button {
    font-size: 12px;
    padding: 5px 15px;
  }
}

