<div class="big-wrapper">
  <!-- Landing Page -->
  <%= partial 'partials/landing_page' %>

  <div class="content container-fluid">
    <!-- About Me -->
    <%= partial 'partials/about_me' %>

    <!-- Projects -->
    <%= partial 'partials/projects' %>
  </div>

  <!-- Footer -->
  <%= partial 'partials/footer' %>

</div>
