<div class="big-wrapper">
  <!-- Landng Page -->
  <%= partial 'partials/landing_page' %>

  <div class="info-section container-fluid mt-5">
    <!-- About Me -->
    <%= partial 'partials/about_me' %>

    <!-- Projects -->
    <%= partial 'partials/projects' %>
  </div>

  <!-- Footer -->
  <%= partial 'partials/footer' %>

</div>
