<div class="lattice background" >

  <div class="landing-page-container mt-3">
    <div class="row">
      <div class="col d-flex flex-column justify-content-center align-items-center">
        <h1 class="border-bottom pb-3 px-5">Aidan Fournier</h1>
        <h2 class="mt-3">Fullstack Web Developer</h2>
      </div>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-chevron-down arrow d-flex justify-content-center"></i>
</div>
