<div class="big-wrapper">
  <div class="landing-page sticky-top">
    <div class="background">
      <div class="landing-page-title mt-3">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center align-items-center">
            <h1 class="border-bottom pb-3 px-5">Aidan Fournier</h1>
            <h2 class="mt-3">Fullstack Web Developer</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-chevron-down arrow d-flex justify-content-center"></i>
  </div>


  <div class="info-section container-fluid mt-5">
    <div class="row align-items-center justify-content-around mx-3">
      <!-- About me -->
      <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center mt-5">
        <div class="my-picture">
          <img src="https://res.cloudinary.com/diyvlobep/image/upload/c_scale,q_100,w_377/v1631964015/IMG_6052_nferlr.jpg" alt="picture of Aidan Fournier">
        </div>
      </div>
      <div class="about-me col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-start .ml-auto mt-5 px-3">
        <h1 class="title-underline">About me</h1>
        <p>When the pandemic hit, I realized I wanted more than to just
        tolerate my career. I started investing more time in my side
        hobby, coding, and realized this is where my passion lay. A
        journey of self-reflection and discovery has brought me to this
        point, and I'm eager to bring both my established and new
        skills to a company that will encourage my growth as a web
        developer. I'm looking for a Junior Developer role in a small to
        mid-size company. I bring to the table my broad range of skills
        in both science and the language arts, as well as my easygoing
        attitude.</p>
      </div>
    </div>

    <div class="divider row align-items-center justify-content-around"></div>

    <!-- Projects -->
    <%= partial 'partials/projects' %>

  </div>

  <%= partial 'partials/footer' %>

</div>
